﻿@model List<Adecco_App.Models.User>

@{
    ViewBag.Title = "User";
}

<div class="jumbotron">
    <h1>USERS</h1>
    
</div>

<div class="row">
    <div>
        <h4>List User</h4>
        <hr />
        <dl class="dl-horizontal">
           
            @foreach (var item in Model)
            {
              <dt>
               Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => item.UserName)
                @Html.ActionLink("Edit", "Edit", new { id = item.IdUser }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdUser })
            </dd>

           
            
                
            }
            

        </dl>
        <p>
           @Html.ActionLink("Back to List", "Index") |
           @Html.ActionLink("New", "Add")
        </p>
    </div>
</div>